AlphaCollab/Content/StarterContent/
AlphaCollab/Intermediate/
AlphaCollab/Saved/
AlphaCollab/Content/KiteDemo/
*.vc.db
*/Build
*/binaries
*/DerivedDataCache
AlphaCollab/.vs/AlphaCollab/v15/ipch/
Test3rdPerson/
